body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.container1 {
    max-width: 200px;
    height: 410px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(61, 178, 236, 0.882);
    border-radius: 4%;
}
input{
    width: 200px;
}
button{
    width: 100px;
    margin-left: 40px;
}
.centro{
    text-align: center;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    background-color: #e8e6e6;
    padding: 40px 0;
}

#servicio .servicio-item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

#servicio .servicio-item:last-child {
    border-bottom: none;
}

#servicio h3 {
    margin: 0;
}

#servicio .precio {
    float: right;
    color: #e44d26; /* Color naranja */
}

form {
    display: grid;
    gap: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.rojo{
    color: #af2a08;
} 
table{
    width: 80%;
    margin: 150px;
    margin-top: auto;
    background-color: rgba(104, 228, 252, 0.681);
}